form {
  max-width: 800px;
}

app-stepper-viajes {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

mat-form-field {
  width: 100%;
}

.contenedorGuardar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
