<!-- <ng-container>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        formControlName="nombre"
        placeholder="Ex. pat@example.com"
      />
      <ng-container *ngIf="error_messages">
        <mat-error *ngFor="let error of error_messages.nombre">
          {{ error }}
        </mat-error>
      </ng-container>
    </mat-form-field>
  </form>
</ng-container> -->

<div>
  <div class="row">
    <div class="col-md-6">
      <h2 mat-dialog-title>
        {{ data.id ? "Editar Parada" : "Crear Parada" }}
      </h2>
    </div>
    <div mat-dialog-close class="col-md-6" style="text-align: right">
      <mat-icon>close</mat-icon>
    </div>
  </div>
</div>

<form [formGroup]="form" (submit)="guardarParadas(data)">
  <mat-dialog-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput [(ngModel)]="data.nombre" />
        <mat-error *ngIf="form.invalid">{{
          validacionesParadas("nombre")
        }}</mat-error>
      </mat-form-field>
    </div>
    <!-- <div>
      <mat-form-field appearance="outline">
        <mat-label>Categoría* </mat-label>
        <mat-select
          multiple
          formControlName="categoriasIds"
          [compareWith]="compareObjects"
        >
          <mat-option
            *ngFor="let categoria of categorias"
            [value]="categoria"
            (click)="guardarCategoria(categoria.id)"
          >
            {{ categoria.nombre }}
          </mat-option>
        </mat-select>
        <mat-error>El campo categoría es obligatorio</mat-error>
      </mat-form-field>
      <mat-label>Imagen*</mat-label>
    </div> -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button type="button" (click)="onClickNo()">
      Cancelar
    </button>
    <button mat-flat-button class="guardar" [disabled]="form.invalid">
      Guardar
    </button>
  </mat-dialog-actions>
</form>
<!-- <app-mostrar-errores [errores]="errores"></app-mostrar-errores> -->
