.containerRegistro {
  width: 100%;
  height: 100%;
  padding: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.cardRegistro {
  background-color: rgb(255, 255, 255);
}
.formRegistro {
  display: flex;
  flex-direction: column;
}
.guardarRegistro {
  margin: 0 auto;
  width: 50%;
  background-color: aquamarine;
}
mat-form-field {
  margin-top: 1%;
}
