mat-toolbar {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  justify-content: unsafe;
  height: 70px;
}

app-autorizado {
  display: flex;
}

.espacio {
  flex: 1 1 auto;
}
