<mat-stepper #stepper class="mat-elevation-z8">
  <!-- NOMBRE -->
  <mat-step
    [stepControl]="viajeDistribucionForm"
    errorMessage="El nombre es obligatorio."
  >
    <form [formGroup]="viajeDistribucionForm">
      <ng-template matStepLabel>Distribución </ng-template>

      <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput />
        <mat-error *ngIf="viajeDistribucionForm.invalid">{{
          validacionesD("nombre")
        }}</mat-error>
      </mat-form-field>

      <div align="center">
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <!-- DISTRIBUCION Y HORARIO -->
  <mat-step
    errorMessage="Agregar al menos un horario es obligatorio."
    [stepControl]="viajeHorarioForm"
  >
    <ng-template matStepLabel>Horarios</ng-template>
    <div class="flex-container w-100">
      <mat-card *ngFor="let horario of listHorarios; index">
        <mat-card-content style="font-size: 20px">
          <div style="display: flex; flex-direction: row">
            <div style="width: 93%">
              <h3 style="font-size: 15px">
                Distribución: {{ obtenerDistribucion(horario.distribucion_id) }}
              </h3>
              {{ horario.hora }} -
              <span style="font-size: 15px">
                {{ obtenerDescripcionDias(horario.dias) }}
              </span>
            </div>
            <mat-icon
              style="cursor: pointer"
              [matTooltip]="'Eliminar horario'"
              (click)="eliminarHorario(index)"
              >delete</mat-icon
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <app-horarios (cargarHorario)="agregarHorario($event)"></app-horarios>
    <div align="center">
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button matStepperNext (click)="guardarViajes(false)">
        Siguente
      </button>
    </div>
  </mat-step>

  <!-- CONEXIONES -->
  <mat-step>
    <div>Conexiones</div>
    <div *ngIf="listConexiones.length != 0">
      <button mat-button (click)="borrarConexiones()">Borrar Conexiones</button>
    </div>
    <div class="flex-container w-100">
      <mat-card *ngFor="let conex of listConexiones; index">
        <mat-card-content style="font-size: 20px">
          <div style="display: flex; flex-direction: row">
            <div style="width: 93%">
              <h3 style="font-size: 15px">
                {{ buscarParaPorId(conex.destino_id).descripcion }}
              </h3>
            </div>

            <mat-icon>forward</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="viajeDTO">
      <app-conexion
        (cargarConexion)="agregarConexion($event)"
        [viajeDTO]="viajeDTO"
      ></app-conexion>
    </div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button (click)="stepper.reset()">Paso 1</button>
      <button mat-button *ngIf="isViajeCompleto" (click)="guardarViajes(true)">
        Guardar Viaje
      </button>
    </div>
  </mat-step>
</mat-stepper>
