<mat-toolbar>
  <mat-toolbar-row>
    <span class="col-6">Clientes </span>
    <div class="col-6" style="float: right">
      <button
        [disabled]="!clientes"
        class="botonCrear"
        style="float: right"
        mat-flat-button
        (click)="refreshClientes(paginaActual, cantidadRegistrosAMostrar)"
        title="Crear"
      >
        <mat-icon>refresh</mat-icon> Actualizar
      </button>

      <button
        class="botonCrear"
        style="float: right; margin-right: 2em"
        mat-flat-button
        (click)="openDialogCliente(null)"
        title="Crear"
      >
        <mat-icon>add_location_alt</mat-icon> Crear
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<app-listado-generico [listado]="clientes">
  <ng-container contenido>
    <table
      #table
      mat-table
      [dataSource]="clientes"
      class="mat-elevation-z8 tabla-indice"
    >
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <!-- <td mat-cell *matCellDef="let element">
          {{ devolverEstado(element.estado) }}
        </td> -->
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
      </ng-container>
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button
            class="botonEditar"
            mat-flat-button
            (click)="openDialog(element.id)"
            title="Editar Parada"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-flat-button
            title="Eliminar Parada"
            class="botonEliminar"
            (click)="openDialogEliminar(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="habilitar">
        <th mat-header-cell *matHeaderCellDef>Habilitar</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle
            [checked]="element.estado == 1"
            (change)="hablitarDeshabilitar($event, element)"
          >
          </mat-slide-toggle>
        </td>
        <td mat-cell *matCellDef="let element">{{ element.estadoValor }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      [length]="cantidadTotalRegistros"
      [pageSize]="cantidadRegistrosAMostrar"
      (page)="actualizarPaginacion($event)"
    ></mat-paginator>
  </ng-container>
</app-listado-generico>
